@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 17px;
    border-bottom: 1px solid black;
}
header > h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
padding-bottom: 13px;
}
.heading{
 font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 50px;
line-height: 88px;
padding:25px 0;
border-bottom: 1px solid black;
}
body{
    padding:50px 165px;
}
nav ul li{
    display: inline-block;
    color:blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 24px;
}
.grocery{
    padding:66px 0 44px 0;
}
table{
    width:815px;
}
table,th,td{
    border:1px solid black;
    border-collapse:separate;
}
tr,td{
    padding:14px 10px;
}
.grocery-table tr:nth-last-of-type(1){
    font-weight: bold;
}
th{
    padding:9px 0;
}
.seminar-table{
    text-align: center;
}
main{

    padding-bottom: 551px;
}

footer{
    border-top: 1px solid black ;
    padding: 20px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}

